.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.first-half{
  display: flex;
  flex-direction: column;
  background-color: #FFF9EE;
  border-radius: 0 0 40px 40px;
}

.second-half{
  display: flex;
  flex-direction: column;
  
}

.abajo {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.arriba {
  position: relative;
}

.imagen-izq {
  transform: scaleX(-1);
}